
/*** HEADER ***/

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  max-width: 800px;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: var(--light-gray);
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}



/*** MAP ***/

#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}


/*** MAP AND RESTAURANT CONTAINER ***/

.container-map-and-restaurant {
  padding: 146px 5px 5px 5px;  
}

/*** RESTAURANT DETAILS ***/

.container-restaurant {
  padding: 5px;
}

#restaurant-name {
  color: var(--orange);
  font: 200 1.7rem Limelight serif;
  letter-spacing: 0;
  margin: 15px 0 30px;
  line-height: 1.1;
}


#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: var(--dark-gray);
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  /*text-transform: uppercase;*/
}

#restaurant-hours td {
  color: #666;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 50%;
}


/*** REVIEWS ***/

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: var(--orange);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}



/*** MEDIA-QUERIES ***/
@media screen and (min-width: 750px) {
  
  .container-map {
    width: 50%;
  }

  .container-restaurant {
    width: 50%;
  }
} 