/*** COLORS ***/

:root {
  --white: #fff;
  /*for links*/
  --blue: #0275d8;
  /* for nav link on hover */
  --dark-blue: #01447e;
  /* for filter options background */
  --high-contrast-blue: #005e8f;
  /*for backgrounds in */
  /* restaurant-list */
  --light-gray: #f3f3f3;
  /* for map backgorund */
  --gray: #ccc;
  /*for header & footer background*/
  --dark-gray: #252831;
  /* for restuarant hours */
  --soft-gray: #666;
  /*for page title*/
  --orange-on-gray: #f18200;
  --orange-on-white: #bb5802;
}


/*** GENERAL ***/

img,
embed,
object,
video {
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.screenreader {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}


/*** BODY ***/

.wrapper {
  max-width: 50rem;
  margin: auto;
  font: 400 1rem arial, sans-serif;
}


/*** HEADER ***/

.page-title {
  margin: 0;
  padding: 1.1rem 0 1.1rem 0;
  background-color: var(--dark-gray);
  font: 400 1.5rem arial, sans-serif;
  color: var(--orange-on-gray);
  text-align:center;
  letter-spacing: 0.125rem;
}


/*** FOOTER ***/

#footer {
  padding: 1.5625rem;
  background-color: var(--dark-gray);
  font-size: 0.75rem;
  color: var(--gray);
  text-align: center;
  letter-spacing: 0.0625rem;
}

#footer a {
  color: var(--gray);
}